bin
parts
var
.mr.developer.cfg
develop-eggs
devel
.installed.cfg
eggs/
buildout.cfg
include
lib
*.pyc
*.egg-info
.coverage
coverage.xml
pep8.log
pep8.log.tmp
pyflakes.log
pyflakes.log.tmp
pylint.log
testreports/
xmllint.log
zptlint.log
